
body,html{


    //background-color: #192F49;
    //font-size: 13px;
    //overflow-x: hidden;
      //color: #353c4e;
    font-weight: 500 !important;
    color: #455A64;
    //font-family: open sans, sans-serif;
    //font-family: "Amazon Ember","HelveticaNeue","Helvetica Neue","Amazon Ember",Roboto,"Roboto-Regular","Amazon Ember",Helvetica,Arial,sans-serif;
    //font-family: 'Nunito Sans', sans-serif;
    //@extendbackground-attachment: fixed;
  
  
}

.fa{
  margin-right: 15px;
}

.footer{
  //position: fixed;
  //bottom: 0px;
  //width: 100%;
  text-align: center;
}

//Top Navigation.
.navbar-menu{
  .nav-item.active{
    
    .nav-link{
      font-weight: 600px !important;
    }
  }
}