//Typography
.mp-0{
  margin: 0 !important;
  padding: 0 !important;
}
//Margin
.m-0{
  margin: 0 !important;
}
.mb-10{
    margin-bottom: 10px;
  }

.mt-1{
  margin-top:1px;
}
.mt-2{
  margin-top:2px;
}
.mt-3{
  margin-top:3px;
}
.mt-4{
  margin-top:4px;
}
  
.mt-5{
    margin-top:5px;
}

.ml-5{
  margin-left: 5px;
}
//Padding
.p-0{
  padding: 0 !important;
}
.p-2{
  padding: 2 !important;
}
.p-4{
  padding: 4 !important;
}
.p-6{
  padding: 6 !important;
}
.p-8{
  padding: 8 !important;
}
.p-10{
  padding: 10 !important;
}
  
.px-2{
    padding-right: 2px !important;
    padding-left: 2px !important;
}




//Buttons
.btn-wp{
    background-color:$themesecondary;
    color: #fff; 
}
.btn-wp:hover{
    background-color:$themeprimary;
    color: #fff; 
}