
.setting-page-tab{
	margin:10px 20px 0 2px;
	
	h1{
		font-size:23px;
		font-weight:400;
		margin:0;
		padding:9px 0 4px;
		line-height:29px;
	}

	input{
		box-sizing:border-box;
		font-family:inherit;
		font-size:inherit;
		font-weight:inherit;
		font-size:12px;
		border-radius:0;
		margin:1px;
		padding:5px 5px;
		width: 50%;
	}

	input[type=text]{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;
	}

	input[type=email]{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;
	}
	
	input[type=number]{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;
		height:28px;line-height:1;
		width: 50%;
	}

	
	input[type=radio]{
		border:1px solid #b4b9be;
		background:#fff;
		color:#555;
		clear:none;
		cursor:pointer;
		display:inline-block;
		line-height:0;
		height:16px;
		margin:-4px 4px 0 0;
		outline:0;
		padding:0!important;
		text-align:center;
		vertical-align:middle;
		width:16px;min-width:16px;
		-webkit-appearance:none;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
		transition:.05s border-color ease-in-out;
		border-radius:50%;
		margin-right:4px;
		line-height:10px;
	}

	input[type=radio]:checked:before{
		float:left;
		display:inline-block;
		vertical-align:middle;
		width:16px;font:400 21px/1 dashicons;
		speak:none;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	input[type=radio]:checked:before{
		content:"\2022";
		text-indent:-9999px;
		border-radius:50px;
		font-size:24px;
		width:6px;
		height:6px;
		margin:4px;
		line-height:16px;
		background-color:#1e8cbe;
	}


	input[type=radio],select{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;}

	input[type=radio]:focus,select:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}
	



	input[type=number]:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}
	
	input[type=text]:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}
	input[type=email]:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}

	select{
		vertical-align:middle;
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;
		font-family:inherit;
		font-size:inherit;
		font-weight:inherit;
		font-size:14px;border-radius:0;
		margin:1px;
		padding:5px 5px;
		width: 50%;
	}

	select{font-family:inherit;font-size:inherit;font-weight:inherit;}
	select{font-size:14px;border-radius:0;}
	select{margin:1px;padding:3px 5px;}

	select:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}


	fieldset{
		margin:0;padding:0;
		border:0;
	}
	

	::-webkit-input-placeholder{color:#72777c;}
	::-moz-placeholder{color:#72777c;opacity:1;}
	:-ms-input-placeholder{color:#72777c;}


	
	

	

	p.description{
		margin:2px 0 5px;
		color:#666;
		font-size:13px;
		font-style:italic;
	}


	@media screen and (max-width:782px){

		td input[type=text]{
			width:100%;font-size:16px;
			//line-height:1.5;
			//padding:7px 10px;
			display:block;
			max-width:none;
			box-sizing:border-box;
		}

		td input[type=email]{
			width:100%;font-size:16px;
			//line-height:1.5;
			//padding:7px 10px;
			display:block;
			max-width:none;
			box-sizing:border-box;
		}

		input{
			box-sizing:border-box;
		}

		input[type=text]{
			border:1px solid #ddd;
			box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
			background-color:#fff;
			color:#32373c;
			outline:0;
			transition:50ms border-color ease-in-out;
		}
		input[type=text]:focus{
			border-color:#5b9dd9;
			box-shadow:0 0 2px rgba(30,140,190,.8);
		}
		input[type=email]{
			border:1px solid #ddd;
			box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
			background-color:#fff;
			color:#32373c;
			outline:0;
			transition:50ms border-color ease-in-out;
		}
		input[type=email]:focus{
			border-color:#5b9dd9;
			box-shadow:0 0 2px rgba(30,140,190,.8);
		}
		input[type=number]{
			width: 100%;
		}
		input{
			font-family:inherit;
			font-size:inherit;
			font-weight:inherit;
		}
		input{
			font-size:14px;
			border-radius:0;
		}
		input{
			margin:1px;
			padding:5px 5px;
		}
		::-webkit-input-placeholder{color:#72777c;}
		::-moz-placeholder{color:#72777c;opacity:1;}
		:-ms-input-placeholder{color:#72777c;}

		select{
			width: 100%;
		}

	}

}

.select-box{


}


.wp-input-box{

	input{
		box-sizing:border-box;
		font-family:inherit;
		font-size:inherit;
		font-weight:inherit;
		font-size:12px;
		border-radius:0;
		margin:1px;
		padding:5px 5px;
		width: 50%;
	}
	
	//Text Input Box
	input[type=text]{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;
	}
	input[type=text]:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}
	
	//Email Input Box
	input[type=email]{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;
	}
	input[type=email]:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}


	//Number Input Box
	input[type=number]{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;
		height:28px;line-height:1;
		width: 50%;
	}
	input[type=number]:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}

	
	//Radio Input Box
	input[type=radio]{
		border:1px solid #b4b9be;
		background:#fff;
		color:#555;
		clear:none;
		cursor:pointer;
		display:inline-block;
		line-height:0;
		height:16px;
		margin:-4px 4px 0 0;
		outline:0;
		padding:0!important;
		text-align:center;
		vertical-align:middle;
		width:16px;min-width:16px;
		-webkit-appearance:none;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
		transition:.05s border-color ease-in-out;
		border-radius:50%;
		margin-right:4px;
		line-height:10px;
	}
	input[type=radio]:checked:before{
		float:left;
		display:inline-block;
		vertical-align:middle;
		width:16px;font:400 21px/1 dashicons;
		speak:none;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	input[type=radio]:checked:before{
		content:"\2022";
		text-indent:-9999px;
		border-radius:50px;
		font-size:24px;
		width:6px;
		height:6px;
		margin:4px;
		line-height:16px;
		background-color:#1e8cbe;
	}
	input[type=radio],select{
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		outline:0;
		transition:50ms border-color ease-in-out;}
	input[type=radio]:focus,select:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}
	


	

	
	//Selection Input Box
	select{
		vertical-align:middle;
		border:1px solid #ddd;
		box-shadow:inset 0 1px 2px rgba(0,0,0,.07);
		background-color:#fff;
		color:#32373c;
		//outline:0;
		transition:50ms border-color ease-in-out;
		font-family:inherit;
		font-size:inherit;
		font-weight:inherit;
		//font-size:14px;
		//border-radius:0;
		//margin:1px;
		padding:5px 5px;
		width: 150px;
	}
	select:focus{
		border-color:#5b9dd9;
		box-shadow:0 0 2px rgba(30,140,190,.8);
	}


	fieldset label,label{
		vertical-align:middle;
	}



}


@media screen and (max-width:782px){
	
	select{
		width: 100%;
	}

	input[type=number]{
		width: 100%;
	}

	input[type=text]{
		width: 100%;
	}
	input[type=email]{
		width: 100%;	
	}
	input[type=number]{
		width: 100%;	
	}


}

.form-table{	 
		
		td{
			margin-bottom:px;
			padding:1px 10px;
			line-height:1.3;
			vertical-align:middle;
		}

		th{
			color:#23282d;
			font-weight:400;
			text-shadow:none;
			vertical-align:baseline;
			vertical-align:top;
			text-align:left;
			padding:20px 10px 20px 0;
			width:200px;
			line-height:1.3;
			font-weight:600;
		}
		td{
			display:block;
			width:auto;
			vertical-align:middle;
		}

		
}