
.sidebar-brand{
  height: 45px;
  padding: 0;
  margin: 0;
  border:0 !important;
  text-align: center;
  -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 30px 6px rgba(0, 0, 0, .1);
    a{
      display: inline-block;
      img{
        //padding: 20px;
        //width: 150px;
        height: 25px !important;
        margin-top: -20px;
      }
    }
}
.menu_section{


  h3{
    //font-size: 12px;
    //font-weight: 500;
    //color: #999999;
  }

	.side-menu{
    
    li.current-page{
      a{
        font-weight: 600 !important;
        font-size: 14px;
        
      }
      a:before{
        border-left-color: #FE8A7D !important;
      }
    }

    li.active{
      a:before{
        border-left-color: #FE8A7D !important;
      }
    }
    .menu-item{
      border:none !important;
      a{
       border:none !important; 
      }
    }


    .menu-item>a:before{
      border-left-style: solid;
      border-left-width: 3px;
      border-left-color: transparent;
      content: " ";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0
    }
    .menu-item-submenu>a:before{
      border-left-style: solid;
      border-left-width: 3px;
      border-left-color: transparent !important;
      content: " ";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0
    }
		
    li>a{
      //border-left: 3px solid red;
    }

		li{
			//margin: 0;
			//padding: 0;

			a{
				//margin: 0;
				//padding: 0;
        font-size: 13px !important;
				padding: 7px 7px;
				font-weight: 500 !important;
				
				.fa-chevron-down{
					font-size: 10px;
					margin-bottom: 20px !important;
				}
			}
		}
	}
}

.nav_title{
  border: 1px solid #fff;
  //background-color: #fff;
  margin-bottom: 10px;
}

.navbar-title{
  box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}


#sidebar-menu{
	
	ul li a:hover > i::before {
  		display: inline-block;
  		animation: swing ease-in-out 0.5s 1 alternate;
	}


	ul li a{
		//color: #818896;
	}

	ul li  a:hover i {
    	//color:#16c7ff;
    	//text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
	}

	ul{
    .active,.current-page{
      i{
        //color:#16c7ff;
      }
    }
    ul{
      .current-page{
        i{
          //color:#16c7ff;
        }
      }
    }
  }

  .child-menu{
    .current-page{
      i{
        //color:#16c7ff;
      }
    }
  }
}

.sidebar-footer{
  a:hover{
    i::before{
      display: inline-block;
      animation: swing ease-in-out 0.5s 1 alternate;
    }
  }
  a:hover i{
      color:#16c7ff;
      text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
  }
}

.nav.side-menu>li{
  .fa{
    font-size: 14px;
  }
}
.nav.side-menu>li>a {
    margin-bottom: 2px;
    font-size: 12px;
}

@media (max-width:480px) {
    .nav.side-menu>li{
      .fa{
        font-size: 14px;
      }
    }
}