
//Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');



// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-pink:#E91E63;


//Variables
$primary_color:#028FCC;
$primary_hover_color:#027DB3;


$section_title_font_size:38px;
$section_title_font_weight:600;

//===================Admin==========================

$sidebar-background:#222D32;       //Active
$sidebar-li-color:#fff;
$sidebar-li-hover-background:#2C3B41;


$page-background:#F9F9FB;

$footer-background:#fff;

//Admin Nav Color
$nav-color:#028FCC;
$nav-li-color:#fff;
$nav-li-hover:#027DB3;

//Admin Sidebar
$sidebar-background-color:#FBFBFC ;
//$sidebar-li-color:#168796;
$sidebar-hover-background:#fff ;
$sidebar-left-border:#007D96;
$sidebar-hover-color:#007D96;
$sidebar-li-li-color:#ECF0F5;

//footer


//Login Page
$page-background-color:#00BCD4;

