#our-service{
	

	.info-box{
		padding-top: 100px;
		padding-bottom: 100px;
		position: relative;
		min-height: 100%;
		margin-bottom: 0;
		text-align: center;
		color: #fff;

		h4{
			color: #fff;
		}
	}

	.part-1{
		background-color: #0085A1;
	}
	.part-2{
		background-color: #007892;
	}
	.part-3{
		background-color: #0085A1;
	}

	.title{
		position: absolute;
		left: 50%;
        transform: translate(-50%,0%);
		color: #fff;
		z-index: 1;
		display: table;
		text-align: center;
		font-size: $section_title_font_size;
		font-weight: $section_title_font_weight;
		margin-top:40px
	}
	
}