@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right.w80 .modal-dialog {
  width: calc(100% - 180px);
}

@media (max-width: 768px) {
  .modal.right.w80 .modal-dialog {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modal.right .modal-dialog {
    width: 100%;
  }
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/

.modal.left.fade .modal-dialog {
  left: -50%;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.w80.fade .modal-dialog {
  left: -80%;
}

@media (max-width: 768px) {
  .modal.left.w80.fade .modal-dialog {
    left: -100%;
  }
}

@media (max-width: 768px) {
  .modal.left.fade .modal-dialog {
    left: -100%;
  }
}

/*Right*/

.modal.right.fade .modal-dialog {
  right: -50%;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.w80.fade .modal-dialog {
  right: -80%;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */

.modal-content {
  border-radius: 0;
  border: none;
  z-index: -9999;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.modal-body.white {
  background-color: #FFFFFF !important;
}

.modal-content.white {
  background-color: #FFFFFF !important;
}

/* ----- v CAN BE DELETED v ----- */

body,
html {
  font-weight: 500 !important;
  color: #455A64;
}

.fa {
  margin-right: 15px;
}

.footer {
  text-align: center;
}

.navbar-menu .nav-item.active .nav-link {
  font-weight: 600px !important;
}

