
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Domine|Karla:400,700Lato|Merriweather|Montserrat+Alternates|Quattrocento+Sans|Raleway:400,900|Roboto|Space+Mono|Medula+One|Open+Sans|Alegreya|ontserrat+Alternates:400:900|Unica+One|Vollkorn|Playfair+Display|Source+Sans+Pro|Lusitana|Montserrat:400,700,900|Varela+Round");

$font: "Montserrat", sans-serif;
$black: #303030;
$right-block-color:#252030;
$white: #fdfdfd;

#login{


	.left{

		margin: 0 !important;
		padding: 0 !important;
		img{
			max-height: 100vh;
			width: 100%;
			object-fit:cover;
			background-color: rgba($black, 0.8);
			opacity:0.9;
		}
	}

	.right{
		font-family: $font;
		margin: 0 !important;
		padding: 20px !important;
		background-color: $white;
		height: 100vh;

		.login-content{
			padding: 5px;

			.brand-logo{
				text-align: center;
				margin-bottom: 20px;	
			}

			h5{
				font-size: 14px;
				font-weight: 500;
				padding: 5px;
				text-align: center;
			}

			label{
				font-weight: 500;
				font-size: 12px;
				margin: 0;
			}
			input{
				margin-bottom: 5px;
			}

			.reset_pass{
				font-size: 12px;
				text-align: right;
				margin-top: 10px;
				color: #fafafa;
			}

			.divider-text{
				display: flex;
  
				&:before,
				&:after {
					content: "";
					flex: 1;
				}
			}
			.line {
				align-items: center;
				margin: 1em -1em;
				
				&:before,
				&:after {
				  height: 1px;
				  margin: 0 1em;
				}
			}
			.razor {
				&:before,
				&:after {
				  box-shadow: 0 0.5px 0 black; // Chrome
				  // border-bottom: 0.5px solid black; // Safari
				}
			}

			.separator{
				margin-top: 10px;
				text-align: center;
			}
			.info{
				text-align: center;
				font-size: 12px;
			}

			.verify-email{
				text-align: center;

				.card-header{
					font-weight: 600;
					margin-bottom: 10px;
				}
			}

			.btn-login{
				background-color: #e45447 !important;
				color: #fff !important;
			}
			.btn-register{
				background-color: #e45447 !important;
				color: #fff !important;
				margin-top: 10px;
			}
			.btn-google{
				border: 1px solid #DD4B39 !important;
				margin-top: -10px;
			}
			.btn-google:hover{
				background-color: #DD4B39 !important;
				color: #fff !important;
			}
			.divider-text{
				position: relative;
				display: flex;
				align-items: center;
				text-transform: uppercase;
				color: #8392a5;
				font-size: 10px;
				font-weight: 500;
				font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
				letter-spacing: .5px;
				margin: 15px 0;
			}
		}

		.status-check{
			margin-bottom: -50px;
			font-size: 12px;
		}
	}
}