
/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*------Section Padding-------*/
.sp-20{
  padding:20px 0;
}
.sp-40{
  padding:40px 0;
}
.sp-60{
  padding:60px 0;
}
.sp-80{
  padding:80px 0;
}

.wrapper{
  position: relative;
  z-index: 1;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.tag-title{
  font-size: 30px;
  line-height: 32px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}
.tag-description{
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}


#particles-js{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 6; 
}

@media (max-width: 991px){
    .home-banner{
      padding: 20px;
    }
    .hero-title{
      font-size: 100px !important;
      font-weight: 700;
      letter-spacing: -4px;
      line-height: 800px;
      margin-bottom: 50px;
      span{
        color:$primary-color; 
      }
    }
    .social{
      right: 20px !important;
    }
    .titlebar{
      .page-title{
        span{
          font-size: 80px !important;
        }
        h1{
          font-size: 80px !important;
        }
        font-size: 80px !important;
      }
    }
  
}


.titlebar{
  padding: 94px 0;
  height: 350px;
  text-align: center;
  

  .page-title{
    font-size: 86px;
    font-weight: 800;
    letter-spacing: -2px;

    span{
      font-size: 86px;
      font-weight: 800;
      color:$primary-color; 
    }
  }
  #particles-js {
    height: 300px;
  }

}




/*----------Start Home Banner---------------*/
.home-banner{
  display: table;
  width: 100%;
  padding: 3%;
  height: 100vh;

  
  .home-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    .hero-title{
      font-size: 140px;
      font-weight: 900;
      letter-spacing: -4px;
      line-height: 125px;
      margin-bottom: 50px;
      span{
        color:$primary-color; 
      }
    }
    .s-ttl{
      line-height: 46px;
    }
    p{
      font-size: 28px;
      color: #b7b7b7;
      font-weight: 500;
      padding:20px;
    }
    p span{
      color: #000;
      font-weight: 900;
    }
    .social{
      right: 40px;
      top: 0;
      position: absolute;
      top: 45%;
      -webkit-transform: translateY(-60%);
      transform: translateY(-60%);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-right: -155px;
      z-index: 6;
      a{
        display: block;
        color: #000;
        font-size: 13px;
        margin-top: 10px;
        float: left;
        margin-right: 15px;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;    
        font-weight: 600;
      }
      a.text{
        margin-right: 0;
      }
      a i{
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }
      a:hover i{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
        color: $primary-color;
      }

    }
    .line{
      float: left;
      width: 72px;
      background: #bfbfbf;
      height: 1px;
      margin: 22px 17px;
    }

  }
}
/*----------End Home Banner-----------------*/

/*----------Start Service Area--------------*/
.service-area{
  background: #f9f9ff;
  .white{
    background: #fff;
  }
  .col-lg-3.col-md-6:nth-child(1) .single-service {
    background: #e2a599; }
  .col-lg-3.col-md-6:nth-child(2) .single-service {
    background: #715f69; }
  .col-lg-3.col-md-6:nth-child(3) .single-service {
    background: #e45447; }
  .col-lg-3.col-md-6:nth-child(4) .single-service {
    background: #90acd1; }
  .col-lg-3.col-md-6:nth-child(5) .single-service {
    background: #90acd1; }
  .col-lg-3.col-md-6:nth-child(6) .single-service {
    background: #e45447; }
  .col-lg-3.col-md-6:nth-child(7) .single-service {
    background: #715f69; }
  .col-lg-3.col-md-6:nth-child(8) .single-service {
    background: #e2a599; }

  .single-service{
    color: #fff;
    padding: 60px 30px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 40px; 
    
    .lnr {
      font-size: 36px;
      color: #fff;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; 
    }

    h4 {
      color: #fff;
      font-size: 21px;
      line-height: 27px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 20px;
      span {
      display: block; }
      @media (max-width: 767px) {
        .single-service h4 span {
        display: inline-block; 
        } 
      } 
    }
  }
  .single-service:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px); 
  }
  @media (max-width: 991px) {
    .single-service{
      margin-bottom: 30px;
      padding: 60px 30px;
    }
  }
}
/*----------End Service Area----------------*/






.tag-line{
  padding: 80px 0;
  text-align: center; 
}




/*---------------Start About US---------------*/
.about-us{
  
  .about-area{
    text-align: center;
  }
}
/*---------------Start About US---------------*/



















/*--------- About Area -------------*/
.about-area{
  
  .section-title {
    margin-bottom: 0; 
  }

}
/*--------- About Area -------------*/

offwhite {
  background: #f9f9ff; 
}

.section-gap-del{
  padding: 150px 0;

  .section-title {
    margin-bottom: 40px;
    h2 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 30px;
      text-transform: capitalize;
      position: relative;
      line-height: 44px; 
    }
    
    p {
      max-width: 535px;
      margin-bottom: 0; 
    } 
  }
}
.section-gap {
  padding: 150px 0; }
  @media (max-width: 1024px) {
    .section-gap {
      padding: 60px 0; } }

.section-gap-top {
  padding-top: 150px; }
  @media (max-width: 1024px) {
    .section-gap-top {
      padding: 60px 0; } }

.section-gap-bottom-90 {
  padding-bottom: 130px; }
  @media (max-width: 1024px) {
    .section-gap-bottom-90 {
      padding-bottom: 30px; } }


section{
  .section-title {
    margin-bottom: 60px;
    h2 {
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 60px;
      text-transform: capitalize;
      position: relative;
      line-height: 44px; 
    }
    h2:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -35px;
      width: 10px;
      height: 10px;
      background: #e45447;
      border-radius: 7px; 
    }
    h2:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -31px;
      width: 100px;
      height: 2px;
      background: #e45447; 
    }
    p {
      max-width: 535px;
      margin-bottom: 0; 
    } 
  }
}


/*--------- Start Work Area -------------*/
.work-areas {
  background: #f9f9ff; }
  @media (max-width: 1024px) {
    .work-area .row.mb-80 {
      margin-bottom: 30px; } }
  .work-area .section-title {
    margin-bottom: 0; }
  .work-area .filters {
    text-align: center; }
    @media (max-width: 991px) {
      .work-area .filters {
        margin-top: 40px; } }
    .work-area .filters ul {
      padding: 0;
      text-align: right; }
      @media (max-width: 991px) {
        .work-area .filters ul {
          text-align: left; } }
      .work-area .filters ul li {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        cursor: pointer;
        position: relative;
        text-transform: capitalize;
        font-size: 13px; }
        .work-area .filters ul li:last-child {
          padding-right: 0; }
        @media (max-width: 991px) {
          .work-area .filters ul li:first-child {
            padding-left: 0; } }
        .work-area .filters ul li.active, .work-area .filters ul li:hover {
          color: #e45447; }
  .work-area .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms; }
  .work-area .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms; }
  .work-area .filters-content img {
    border-radius: 10px;
    width: 100%; }

.single-works {
  border-radius: 5px;
  margin-bottom: 30px; }
  .single-work .thumb .overlay-bg {
    background: #e45447;
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-work .thumb .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden; }
  .single-work .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-work .middle h4 {
      font-size: 21px;
      color: #fff; }
    .single-work .middle .cat {
      font-size: 15px;
      color: #fff; }
  .single-work:hover .thumb .overlay-bg {
    opacity: .80; }
  .single-work:hover .middle {
    opacity: 1; }

/*--------- End Work Area -------------*/


/*----------Contact Area-----------------*/
.contact-page-area{
  //margin-top: 80px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 80px 40px;
  color: #fff;
  //margin-bottom: 30px;
  background: #e45447;
  
  .section-title{
    font-size: 62px;
    font-weight: 600;
    color: #fff
  }
  @media (max-width: 991px){
    margin-top: 40px;
  }

   .single-contact-address {
      margin-bottom: 20px;
      .contact-details{
        margin-top: 10px;
      }
      h5 {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 5px;
        color: #fff; 
      }
      .lnr {
        font-size: 30px;
        font-weight: 500;
        color: #fff;
        margin-right: 30px; 
      } 
    }

  .form-area{
    input {
      padding: 15px; 
    }
    input,
    textarea {
      border-radius: 0;
      font-size: 12px; 
    }
    input:focus,
    textarea:focus {
      border-color: #ced4da;
      box-shadow: none; 
    }
    textarea {
      height: 154px;
      margin-top: 0px; 
    }
    .primary-btn {
      padding: 0 20px;
      font-size: 13px;
      background-color: #fff !important;
      
      span{
        color: #e45447;
      }
    }
    .primary-btn:before{
      color: #e45447;
    }
   
    :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-weight: 500; }
    ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-weight: 500; }
    :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 500; }
    ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 500; }
  }



  .contact-btns{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    color: #fff;
    margin-bottom: 30px;
  }  
}
/*----------Contact Area-----------------*/






/*----------Testinomial  Area-----------------*/
.testimonials_area {
  position: relative; 


}
  .testimonials_area .owl-controls {
    text-align: center; }
    @media (max-width: 767px) {
      .testimonials_area .owl-controls {
        display: none; } }
    .testimonials_area .owl-controls .owl-nav {
      position: relative;
      top: 35px; }
      .testimonials_area .owl-controls .owl-nav .owl-prev,
      .testimonials_area .owl-controls .owl-nav .owl-next {
        display: inline-block;
        margin-right: 31px;
        color: #000; }
      .testimonials_area .owl-controls .owl-nav .owl-prev {
        margin-right: 80px; }
      .testimonials_area .owl-controls .owl-nav .owl-next {
        margin-left: 80px;
        margin-right: 0; }
    .testimonials_area .owl-controls .owl-dots .owl-dot {
      height: 4px;
      width: 40px;
      background: #eeeeee;
      display: inline-block;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .testimonials_area .owl-controls .owl-dots .owl-dot:last-child {
        margin-right: 0px; }
      .testimonials_area .owl-controls .owl-dots .owl-dot:hover, .testimonials_area .owl-controls .owl-dots .owl-dot.active {
        background: #e45447; }

.testi_slider {
  margin: auto; }
  .testi_slider .testi_item {
    text-align: center; }
    .testi_slider .testi_item img {
      width: auto;
      margin: auto; }

.testi_item {
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    .testi_item {
      margin-bottom: 0; } }
  .testi_item h4 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px; }
  .testi_item .list {
    margin-bottom: 35px; }
    .testi_item .list li {
      display: inline-block; }
      .testi_item .list li a {
        color: #ffc000;
        font-size: 14px; }
  .testi_item p {
    max-width: 570px;
    margin: auto; }

/*----------Testinomial  Area-----------------*/