.about-area{
  .section-title {
    margin-bottom: 0; 
  }
}

offwhite {
  background: #f9f9ff; 
}

.section-gap{
  padding: 150px 0;

  .section-title {
    margin-bottom: 80px;
    h2 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 70px;
      text-transform: capitalize;
      position: relative;
      line-height: 44px; 
    }
    h2:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -35px;
      width: 10px;
      height: 10px;
      background: #e45447;
      border-radius: 7px; 
    }
    h2:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -31px;
      width: 100px;
      height: 2px;
      background: #e45447; 
    }
    p {
      max-width: 535px;
      margin-bottom: 0; 
    } 
  }
}

.section-gap {
  padding: 150px 0; }
  @media (max-width: 1024px) {
    .section-gap {
      padding: 60px 0; } }

.section-gap-top {
  padding-top: 150px; }
  @media (max-width: 1024px) {
    .section-gap-top {
      padding: 60px 0; } }

.section-gap-bottom-90 {
  padding-bottom: 130px; }
  @media (max-width: 1024px) {
    .section-gap-bottom-90 {
      padding-bottom: 30px; } }


section{
  .section-title {
    margin-bottom: 80px;
    h2 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 70px;
      text-transform: capitalize;
      position: relative;
      line-height: 44px; 
    }
    h2:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -35px;
      width: 10px;
      height: 10px;
      background: #e45447;
      border-radius: 7px; 
    }
    h2:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -31px;
      width: 100px;
      height: 2px;
      background: #e45447; 
    }
    p {
      max-width: 535px;
      margin-bottom: 0; 
    } 
  }
}
/*--------- Start Work Area -------------*/
.work-area {
  background: #f9f9ff; }
  @media (max-width: 1024px) {
    .work-area .row.mb-80 {
      margin-bottom: 30px; } }
  .work-area .section-title {
    margin-bottom: 0; }
  .work-area .filters {
    text-align: center; }
    @media (max-width: 991px) {
      .work-area .filters {
        margin-top: 40px; } }
    .work-area .filters ul {
      padding: 0;
      text-align: right; }
      @media (max-width: 991px) {
        .work-area .filters ul {
          text-align: left; } }
      .work-area .filters ul li {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        cursor: pointer;
        position: relative;
        text-transform: capitalize;
        font-size: 13px; }
        .work-area .filters ul li:last-child {
          padding-right: 0; }
        @media (max-width: 991px) {
          .work-area .filters ul li:first-child {
            padding-left: 0; } }
        .work-area .filters ul li.active, .work-area .filters ul li:hover {
          color: #e45447; }
  .work-area .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms; }
  .work-area .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms; }
  .work-area .filters-content img {
    border-radius: 10px;
    width: 100%; }

.single-work {
  border-radius: 5px;
  margin-bottom: 30px; }
  .single-work .thumb .overlay-bg {
    background: #e45447;
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-work .thumb .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden; }
  .single-work .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-work .middle h4 {
      font-size: 21px;
      color: #fff; }
    .single-work .middle .cat {
      font-size: 15px;
      color: #fff; }
  .single-work:hover .thumb .overlay-bg {
    opacity: .80; }
  .single-work:hover .middle {
    opacity: 1; }

/*--------- End Work Area -------------*/