
/* ===================================
    Google font
====================================== */

$navheight:50px;
$footer_height:30px;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');


html,body{ 
  font-family: 'Roboto', sans-serif; 
  -webkit-font-smoothing: antialiased;  
  font-smoothing: antialiased; 
  font-size:13px; 
  color:#6f6f6f; 
  font-weight: 400;
  //line-height: 24px;
  //height: 100%;
}

.transition{
  //-webkit-transition: all 0.5s ease-in-out;
  //-moz-transition:all 0.5s ease-in-out;
  //-o-transition:all 0.5s ease-in-out;
  //transition:all 0.5s ease-in-out;
}

.bdr{
	border:1px dotted red;
}

.admin-top-nav{
  .navbar{
    height: 40px !important;
    border:none !important;
  }
}

.logo {
  background: $nav-color !important; 
  color:#fff;
}
  .logo:hover {
  background: $nav-color !important; 
  color:#fff;
}

.admin-top-nav{
  .navbar {
    background: $nav-color !important; 
    .fa{
      color: #fff;
    }
    li{
      a{color:$nav-li-color;}
    }
    li a:hover{
      background-color: $nav-li-hover;
      color: $nav-li-color;
    }
    li li a:hover{
      //background-color: $nav-li-hover;
      color: $nav-li-color;
    }
    li a:active{
      color: $nav-li-color;
    }
    li a:after{
      background-color: $nav-li-hover;
      color: $nav-li-color;
    }
     li a:focus{
      background-color: $nav-li-hover;
      color: $nav-li-color;
    }
  }
}

.admin-top-nav{
  .navbar .user-menu .user-header {
    background-color: $nav-color !important; 
    color: #fff;
  }
}


.main-header .navbar a:focus{
  background-color: $nav-li-hover;
}
.main-header .navbar .sidebar-toggle {
  height: 40px;
  color: #ffffff; 
}
.main-header .navbar .sidebar-toggle:focus {
  
  color: #ffffff;
  background-color:$nav-color;  
}


.main-sidebar{
  background-color: $sidebar-background;

  .sidebar-menu{
      
    a{
      color: $sidebar-li-color;
      font-size: 13px;
      color: $sidebar-li-color;
      font-weight: 400;
    }

    li{
      margin: 0;
      //background-color: #fff;
      font-size: 13px;

      a{
        border-left: 0 ;
        color: $sidebar-li-color;
      }

      li:hover{
       //background-color: $sidebar-background;
       a{
        color: $nav-color;
       }
      }
    }
    li.active{
      background-color: $sidebar-li-hover-background;
      li.active{
        a{
          color: $nav-color;
        }
      }
    }
    

  }








  li:hover{
    background-color: $sidebar-li-hover-background;
  }
  li:hover > a,
  li.active{
    //background-color: $nav-color;

    li{
      //background-color: #23282D;
    }

  }
  .treeview-menu > li{

  }
  .treeview-menu > li > a{
    font-size: 13px;
  }

}

.main-footer {
  background: #FBFBFC;
  padding: 10px;
  color: #444;
  border-top: 0px solid #d2d6de;
}

.content-wrapper{
  padding: 5px;
  //background-color: $page-background;
}

.main-content{
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  .breadcrumb{
    background-color: transparent !important;
    margin: 0px !important;
    li{
      font-weight: 500;
    }
  }

  .main-content-header{
    
    padding: 10px;
    padding-left:20px;
    font-weight: 600;
    font-size: 16px;

    h4{
      font-weight: 600;
      color:$sidebar-li-hover-background;
    }
    
    .fa,.fab{
      margin-left: 10px;
      margin-right: 10px;
    }  
  
  }
  
  .main-content-body{
    margin-top:5px;
    padding: 10px;
   

  }

}




.content-header{

  .bc-col{
    margin-top: 10px;
  }


  .title-header{
    background-color: #fff;
    h4{
      margin-left: 20px;
    }
  } 

  .breadcrumb{
    background-color: #fff !important;
    li{
      font-weight: 500;
    }
  }
}

.bread-crumb{
  background-color: #fff;
  .breadcrumb{
    margin: 0 !important;
    background-color: #fff;
    margin-bottom: 10px !important;
    //border-radius: 20px !important;
  }

  ol li a{
    font-weight: 500 !important;
  }
}



//Role page 











































