.modal{
	
	.modal-content {
  		-webkit-border-radius: 0;
  		-moz-border-radius: 0;
  		-ms-border-radius: 0;
  		border-radius: 0;
  		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31) !important;
  		border: none;
		

		.modal-header{
			border: none;
	  		padding: 20px 20px 5px 20px;
	  		.modal-title {
	    		font-weight: bold;
	    		font-size: 16px;
	    		color: #2A5D84;
				font-weight: 500; 
			}
			
		}

  		.modal-body {
		    color: #777;
		    padding: 15px 25px;
		    
		}

		.modal-footer {
			border: none; 
		} 
	}
	
}